#all {
	width: 1280px;
	min-height: 400px;
	text-align: center;
	margin: 60px auto;
}
#title {
	width: 75%;
	text-align: left;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	font-weight: bold;
}
#content {
	width: 70%;
	margin: 20px 150px;
}
#content table {
	width: 100%;
	height: 200px;
	text-align: left;
}
#content table * {
	vertical-align: middle;
}
#table img {
	width: 150px;
	height: 150px;
}
#imgTd {
	text-align: center;
	width: 35%;
}
#imgTd h3 {
	font-size: 20px;
}
.th {
	font-weight: bold;
	width: 120px;
}
#article {
	text-align: left;
	margin: 15px 0px;
	line-height: 30px;
	font-size: 15px;
	color: gray;
	margin-bottom: 60px;
}
.model_container{
	width: 100%;
	margin: 0 auto;
}

.model_container ul.tabs{
	width: 100%;
	list-style: none;
	border-top: 2px solid gray;
}
.model_container ul.tabs * {
	width: 45%;
}
.model_container ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 15px 15px;
	cursor: pointer;
	border-bottom: 2px solid lightgray;
}

.model_container ul.tabs li.current{
	background: white;
	color: #564290;
	font-weight: bolder;
	border-bottom: 2px solid #6e55b5;
}

.tab-content{
	display: none;
	background: white;
	/* border-top: 2px solid gray; */
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
.sell_table {
	border: hidden;
}
.sell_table tr, .sell_table td {
	border: 1px solid lightgray;
	text-align: center;
	padding: 30px 10px;
}
.info {
	text-align: left;
	width: 70%;
	margin: 0px auto;
	line-height: 25px;
	font-size: 15px;
}
.tag1 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0px;
}
.sell_table span {
	margin-left: 15px;
}
.tag2 {
	color: #6e55b5;
	font-weight: bold;
}
.tag3, .tag4 {
	color: gray;
}
.tag3 span, .tag4 span {
	color: #555555;
}
.tag5 {
	color: #401C5A;
	font-size: 16px;
	font-weight: 300;
}