#all {
	width: 1280px;
	min-height: 400px;
	text-align: center;
	margin: 80px auto;
}
#infoTitle {
	width: 63%;
	margin: 30px auto;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
}
.title {
	background-color: #F3F3F3;
	width: 60%; 
	height: 30px;
	margin: 0px auto;
	text-align: left;
	border-top: 2px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
}
#all table {
	width: 60%;
	margin: 25px auto;
}
#all table img {
	width: 45px;
	height: 45px;
}
#all a {
	text-decoration: none;
	color: black;
}