input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #9E7BFF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #401C5A;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9E7BFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #9E7BFF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #401C5A;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9E7BFF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #9E7BFF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #401C5A;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9E7BFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9E7BFF;
}
#all {
	/* background-color: pink; */
	width: 1280px;
	margin: 0 auto;
}
#all .title {
	background-color: white;
	z-index: 9;
	text-decoration: none;
	height: 111px;
	width: 1280px;
	margin: 30px 0;
}
.title * {
}
.designBar {
	display:none;
	height: 120px;
    left: -1000px;
    bottom: 0;
    position: absolute;
    width: 3000px;
    background: white;
    border-bottom: 1px solid lightgray;
    z-index: -1;
}
.left {
	width: 720px;
	height: 120px;
	display: inline-block;
}
.left .tl_upper {
	text-align: left;
	width: 720px;
}
.left .tl_upper h1 {
	font-size: 30px;
}
.left .tl_upper .maker_model {
	display: inline-block;
	color: black;
	font-weight: bold;
}
.left .tl_upper .detail_number {
	display: inline-block;
	color: #cdcdcd;
}
 .tr_upper .price, .tr_upper .manwon {
	display: inline-block;
}
.tr_upper .price {
	font-size: 32px;
	font-weight: bold;
	color: #401C5A;
}
.tr_upper .manwon {
	font-size: 26px;
}
.left .tl_lower {
	font-size: 15px;
	color: lightgray;
	text-align: left;
	width: 720px;
}
.left .tl_lower * {
	display: inline-block;
}
.left .tl_lower .year {
	margin-right: 10px;
}
.left .tl_lower .fuel {
	margin-left: 10px;
}
.left .tl_lower .distance {
	border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0 10px;
}
.right {
	width: 240px;
	height: 100px;
	display: inline-block;
	line-height: 35px;
}
.q_btns {
	width: 260px;
	height: 120px;
	display: inline-block;
	text-align: justify;
}
.q_btns a {
	display: inline-block;
	text-align: center;
	margin: 10px;
}
.q_btns * {
	text-decoration: none;
}
.q_btns .f_icon, .q_btns .c_icon, .q_btns .s_icon {
	height: 45px;
	width: 45px;
	margin: 10px auto;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 lightgray); 
	filter: opacity(.5) drop-shadow(0 0 0 lightgray);
}
.q_btns .f_icon {
	background: url("../image/icon_heart.png") center no-repeat;
	background-size: contain;
}
.q_btns .c_icon {
	background: url("../image/icon_compare.png") center no-repeat;
	background-size: contain;
}
.q_btns .s_icon {
	background: url("../image/icon_share.png") center no-repeat;
	background-size: contain;
}
.q_btns h4 {
	color: #cdcdcd;
}

.photo {
	position: relative;
	height: 720px;
	overflow: hidden;
	/* background: url("../image/1.jpg") center no-repeat;
	background-size: cover; */	
}
.photo input {
	position: absolute;
	top: 42%;
	color: white;
	font-size: 100px;
	background: none;
	border: 1px soild gray;
	border-style: none;
	-webkit-text-stroke: 3px #401C5A;
}
.photo input:focus {
	outline: none;
}
.photo .photo_left {
	left: 20px;
}
.photo .photo_right {
	right: 20px;
}
.photo .carPhotos {
	background-size: cover;
	display: none;
	height: 100%;
	margin: 0 auto;
}
.photo .back {
	position: absolute;
	z-index: -1;
	filter: brightness(0.5) blur(10px);
    left: -10%;
    top: -10%;
    height: 120%;
    width: 120%;
}
.info {
	height: 270px;
	margin-top: 80px;
}
.info_inner:before {
    content: "";
    width: 100%;
    height: 270px;
    background: #f2f2f2;
    position: absolute;
    left: 50%;
    top: 1243px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
}
.info .il_left {
	width: 420px;
	height: 220px;
	border: 1px solid #cdcdcd;
	float: left;
	background: white;
}
.info .phoneIcon {
	display: inline-block;
	width: 115px;
	height: 75px;
	background: url("../image/icon_car.png") center no-repeat;
	background-size: cover;	
	margin: 30px;
	float: left;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 gray); 
	filter: opacity(.5) drop-shadow(0 0 0 gray);
}
.info .number {
	font-size: 22px;
	color: #9E7BFF;
}
.info .il_left_upper_right {
	display: inline-block;
	height: 75px;
	float: left;
	margin: 20px 0;
}
.info .il_left_upper_right * {
	margin: 10px 0;
}
.info .il_left_upper h2 {
	font-size: 20px;
	display: block;
}
.info .buy {
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 60px;
	color: #9E7BFF;
	font-weight:  bold;
	border: 1px solid #9E7BFF;
	background: white;
}
.info .il_right {
	display: inline-block;
	height: 220px;
	float: left;
	margin-left: 20px;
}
.info table {
	width: 818px;
	height: 100%;
}
.info table, th, td  {
	border: 1px solid #cdcdcd;
	text-align: center;
	vertical-align: middle;
	background: white;
}
.info table th {
	height: 30%;
}
.info table div {
	height: 100%;
	padding: 30px;
	font-size: 22px;
}
.info .table_fc {
	width: 50%;
	background: white;
}
.info li {
	display: inline-block;
	width: 160px;
	height: 35px;
	margin: 10px;
	
}
.info i, .info p {
	display: inline-block;
	vertical-align: middle;
}
.info i {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-size: contain;
	margin-right: 20px;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 gray); 
	filter: opacity(.5) drop-shadow(0 0 0 gray);
}
.info p:last-child {
	color: #9E7BFF;
}
.info .sg_icon {
	background: url("../image/icon/icon_info1.png") center no-repeat;
	background-size: cover;
}
.info .ds_icon {
	background: url("../image/icon/icon_info2.png") center no-repeat;
	background-size: cover;
}
.info .cs_icon {
	background: url("../image/icon/icon_info3.png") center no-repeat;
	background-size: cover;
}
.info .sr_icon {
	background: url("../image/icon/icon_info4.png") center no-repeat;
	background-size: cover;
}
.info .nc_icon {
	background: url("../image/icon/icon_info5.png") center no-repeat;
	background-size: cover;
}
.info .tc_icon {
	background: url("../image/icon/icon_info6.png") center no-repeat;
	background-size: cover;
}
.info .ar_icon {
	background: url("../image/icon/icon_info7.png") center no-repeat;
	background-size: cover;
}
.info .jd_icon {
	background: url("../image/icon/icon_info8.png") center no-repeat;
	background-size: cover;
}

.basic_info .bi_title {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	margin: 40px 0 10px 0;
}
.basic_info ul {
	border-top: 2px solid black;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	font-size: 0;
}
.basic_info li {
	width: 20%;
	display: inline-block;
	box-sizing: border-box;
}
.basic_info .tlt {
	width: 100%;
	height: 40px;
	color: #cdcdcd;
	font-size: 14px;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
	background: #f2f2f2;
}
.basic_info .cont_outer {
	box-sizing: border-box;
	height: 60px;
	padding: 20px
}
.basic_info .cont {
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.option .op_title {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	margin: 40px 0 10px 0;
}
.option ul {
	font-size: 0;
}
.option li {
	width: 10%;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
}
.option i {
	width: 100%;
	height: 70px;
	display: inline-block;
    margin-bottom: 20px
}
.option p {
	font-size: 16px;
	font-weight: 600;
}
/* 활성화 된 옵션은 ?_on.png 파일
*/
.option .op1 {
	background: url("../image/icon/icon_option1.png") center no-repeat;
	background-size: contain;
}
.option .op2 {
	background: url("../image/icon/icon_option2.png") center no-repeat;
	background-size: contain;
}
.option .op3 {
	background: url("../image/icon/icon_option3.png") center no-repeat;
	background-size: contain;
}
.option .op4 {
	background: url("../image/icon/icon_option4.png") center no-repeat;
	background-size: contain;
}
.option .op5 {
	background: url("../image/icon/icon_option5.png") center no-repeat;
	background-size: contain;
}
.option .op6 {
	background: url("../image/icon/icon_option6.png") center no-repeat;
	background-size: contain;
}
.option .op7 {
	background: url("../image/icon/icon_option7.png") center no-repeat;
	background-size: contain;
}
.option .op8 {
	background: url("../image/icon/icon_option8.png") center no-repeat;
	background-size: contain;
	width: 80px;
}
.option .op9 {
	background: url("../image/icon/icon_option9.png") center no-repeat;
	background-size: contain;
}
.option .op10 {
	background: url("../image/icon/icon_option10.png") center no-repeat;
	background-size: contain;
}

.price .pr_title {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	margin: 40px 0 10px 0;
}
.price .pr_outer {
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
}
.price .pr_left {
	width: 50%;
	border-top: 3px solid #401C5A;
	border-right: 1px solid #401C5A;
	border-bottom: 1px solid #401C5A;
	border-left: 1px solid #401C5A;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
}
.price .pr_right {
	width: 50%;
	border-top: 3px solid #9E7BFF;
	border-right: 1px solid #9E7BFF;
	border-bottom: 1px solid #9E7BFF;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;	
	vertical-align: top;
	height: 553px;
}
.price .prh {
	font-size: 22px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	width: 100%;
}
.price .pr_left>.prh {
	border-bottom: 1px solid #401C5A;	
}
.price .pr_right>.prh {
	border-bottom: 1px solid #9E7BFF;	
}
.price .cont_1 {
	width: 90%;
	height: 75px;
	margin: 30px auto;
	font-size: 16px;
	background: #f2f2f2;
	color: #cdcdcd;
	text-align: center;
}
.price .cont_1 p {
	height: 100%;
	line-height: 2.5;
}
.price .cont_1 span {
	font-size: 30px;
	font-weight: 900;
}
.price .cont_1 .num1 {
	color: #401C5A;
}
.price .cont_1 .num2 {
	color: black;
}
.price .cont_2 {
	width: 100%;
	height: 80px;
}
.price .slider {
	width: 70%;
	height: 40px;
	margin: 5px auto; 
}
.price #price_range {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 12px;
}
.price .slider_number {
	width: 70%;
	font-size: 16px;
	margin: 0 auto;
}
.price .min_price {
	float: left;
}
.price .max_price {
	float: right;
}
.price .cont_3 {
	width: 90%;
	margin: 30px auto;
	font-size: 16px;
}
.price .cont_3 * {
	display: inline-block;
}
.price .cont_3 h2 {
	font-weight: bold;
	width: 80px;
	text-align: left;
}
.price .select_1 {
	width: 100%;
}
.price .pr_left ul {
	box-sizing: border-box;
	font-size: 0;
	width: 480px;
}
.price .pr_left li {
	width: 25%;
	text-align: left;
}
.price .pr_left input {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	float: left;
}
.price label {
	text-align: left;
	font-size: 16px;
}
.price .select_2 {
	margin: 20px 0;
}
.price .cont4 {
	width: 90%;
	height: 75px;
	display: table;
	box-sizing: border-box;
	margin: 0 auto;
	border: 1px solid #401C5A;
}
.price .result {
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	color: #401C5A;
	line-height: 2.5;
}
.price .result * {
	display: inline-block;
}
.price .result span {
	font-size: 30px;
	font-weight: 900;
	margin-left: 10px;
}
.price .p_notice {
	font-size: 14px;
	text-align: center;
	margin: 20px 0;
	color: gray;
}
.price .pl_price {
	font-szie: 30px;
	font-weight: 900;
	color: #9E7BFF;
}
.price .pr_r_left {
	display: inline-block;
	float: left;
	line-height: 5 !important;
	margin-left: 40px;
}
.price .pr_right .cont_1 {
	line-height: 2.5;
	text-align: right;
}
.price .pr_r_right {
	display: inline-block;
	margin-right: 40px;
}
.price .cont_2_r {
	font-size: 16px;
	margin-bottom: 32px;
}
.price .cont_2_r * {
	display: inline-block;
}
.price .cont_2_r li {
	margin: 10px 0;
}
.price .cont_2_r .li_left {
	text-align: left;
	width: 230px;
}
.price .cont_2_r .li_right {
	text-align: right;
	width: 230px;
}
.price .pr_right .cont4 {
	border-color: #9E7BFF;
	color: #9E7BFF;
}
.price .pr_right .cont4 *{
	color: #9E7BFF;
}
.bf_btn_container {
	margin-top: 30px;
}
.bf_btn_container .btn {
	background-color: #401C5A;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: 150px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}
.bf_btn_container .btn:hover {
	background-color: white;
	border:2px solid #401C54;
	color: #401C54;
}
#toInstall *, #toInstall {
	text-decoration: none;
	color: black;
}
