#all {
	width: 830px;
	height: auto;
	margin: 30px auto;
	text-align: center;
}
#all a {
	text-decoration: none;
}
#title {
	font-size: 18px;
	text-align: left;
	font-weight: 300;
	margin-bottom: 20px;
}
#title span {
	font-weight: bold;
	color: #9E7BFF;
}
.object {
	text-align: left;
}
.check_div {
	display: inline-block;
	vertical-align: middle;
}
.img_div {
	display: inline-block;
	vertical-align: middle;
}
.explain_div {
	display: inline-block;
	vertical-align: middle;
}
#all input {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 10px 20px;
}
.img_div img {
	width: 220px;
	height: 190px;
	margin-right: 20px;
}
.explain_div {
	line-height: 15px;
}
.car_title {
	font-size: 20px;
	color: black;
	font-weight: 500;
}
.car_info {
	font-size: 16px;
	color: gray;
	font-weight: 200px;
}
.car_price {
	font-size: 18px;
}
.price_number {
	font-size: 27px;
	font-weight: bold;
	color: #401C5A;
}
#buttons input {
	width: 240px;
	height: 50px;
	border-radius: 20px;
	font-size: 18px;
	margin: 20px 10px;
}
#remove {
	background-color: white;
	color: #401C5A;
	border: 1px solid #401C5A;
}