footer {position:relative;background:#292929;z-index:9;}
footer:before {position:absolute;left:0;top:0;width:100%;background:#292929;content:"";}

.footer_logo{float: left; margin-left: 600px; margin-top: 30px;}
/** footer_area **/
.footer_area {position:relative;padding:10px 0 0 700px;color:#ffffff;font-size:13px;font-weight:100;line-height:35px;}
.footer_area address {position:relative;font-style:normal;}
.footer_area .copyright {margin-top:5px;opacity:0.5;}
