

.wrap{
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color : inherit; 
 
}.theme_main-car{
    list-style: none;
    display: flex;
 	margin: 20px 0;

  
}
img {
    max-width: 100%;
    height: auto;
  }
  .rc_img{
    width: 100%;
}

  .car_img{
      width: 90%;
  }
 
 .news{
   display: flex;
   margin: 10px 0;
  
  
 
 }

 .news-car{
     margin: 0 auto;
 }
 .news_img{
   
     width: 40%;
   
   
   
   
 }

 
 .news-car li{
 
  text-decoration: underline;
  white-space: nowrap;
  margin: 10px 0;
    
}

.kpark_loc1{
    font-size: 50px;
    text-align: center;
   margin: 15px 0;
    
   
}

