.wrap{
    width: 1280px;
    min-height: 600px;
    margin: 0 auto;
 
}

/* 구매 판매  상담 게시판 css */

.t-label{
     font-size: 26px;
     font-weight: bold;
     margin: 50px auto;
}     
 .b-table1{
      width: 100%;
    
    border-collapse: collapse;

}
.b-table1 th{
	color: #5F00CC;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #5F00CC;
    text-align:left;
  	padding: 13px 10px;
}
 
.b-table1 td{
	 border-bottom: 1px solid lightgray;;
	padding:20px;
}

.b-table2{
	display:flex;
	justify-content: space-around;
}
/* 수정  탈퇴 css */
.edit{
   display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding: 100px 500px;
   text-align: left;
}
.edit input{
	width:350px;
}

.title{
	font-size:20px;
}
.edit_btn{
	display:flex;
	justify-content: space-around;
}
.edit_btn input{
	width:150px;
}

#column th {
   color: #401C5A;
   border-bottom: 3px solid #401C5A;
   padding-left: 5px;
   padding-bottom: 5px;
   font-weight: bold;
}
 #sellsingleList{
      width: 100%;
    
    border-collapse: collapse;

}
#sellsingleList th{
   color: #5F00CC;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #5F00CC;
    text-align:left;
     padding: 13px 10px;
}
 
#sellsingleList td{
    border-bottom: 1px solid lightgray;;
   padding:20px;
}