.wrap{
    width: 1280px;
    margin: 0 auto;
}



.t-label{
     font-size: 40px;
     margin: 50px auto;
}     
 .b-table1{
      width: 100%;
    
    border-collapse: collapse;

}
.b-table1 th{
	    color: #5F00CC;
    font-size: 20px;
    border-bottom: 1px solid #444444;
    text-align:left;
  
}
 
.b-table1 td{
	 border-bottom: 1px solid #444444;
	padding:20px;
}

.b-table2{
	display:flex;
	justify-content: space-around;
}