body, html {
	margin: 0;
	padding: 0;
}
#all {
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
}
#title {
	position: fixed;
	margin: 0;
	top: 0;
	width: 100%;
	background-color: #401C5A;
	height: 65px;
	color: white;
	font-size: 23px;
	text-align: left;
}
#title p {
	font-size: 24px;
	margin: auto 30px;
	margin-top: 15px;
}

#cars {
	width: 90%;
	border: 1px solid lightgray;
	margin: 40px auto;
	margin-top: 100px;
	background: #F8F8F8;
	padding: 20px;
	text-align: left;
}
.object {
	display: inline-block;
	width: 200px;
	margin: 0px 10px;
}
.object img {
	width: 200px;
	height: 140px;
}
.car_title {
	font-size: 16px;
	font-weight: 350;
}
.car_price {
	font-size: 17px;
	font-weight: bold;
	color: #401C5A;
}
#title2 {
	text-align: left;
	margin-top: 20px;
	margin-left: 30px;
	font-weight: bold;
	font-size: 17px;
}
#compareTable {
	width: 90%;
	margin: 0px auto;
}
#compareTable tr {
	border-collapse: collapse;
	display: block; 
	float: left; 
}
#compareTable th {
	background: #F6F6F6;
	width: 160px;
	text-align: left;
	font-weight: 550;
	padding: 13px 10px;
}
#compareTable th, td {
	display: block; 
	border-top: 1px solid lightgray;
	text-align: left;
	padding: 13px 15px;
}
#compareTable td {
	font-weight: 300;
	width: 200px;
}