#all {
	/* background-color: pink; */
	width: 1280px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
#title { 
	width: 80%;
	margin: auto;
	margin-top: 50px;
 }
#title h1 {
	font-weight: bold;
}
#sell_title_img {
	width: 100%;
}
#sellTable {
	width: 80%;
	margin: auto;
}
#sellTable table {
	width: 90%;
	border-collapse: collapse;
	margin: 40px auto;
	border-style: hidden;
}
#sellTable table tr, #sellTable table td {
	padding: 20px 15px;
	vertical-align: middle;
	border: 1px solid lightgray;
}
#sellTable table input { 
	width: 120px;
	height: 20px;
 }
#sellTable table select {
	width: 130px;
	height: 30px;
	margin-right: 5px;
}
#sellTable table span {
	margin-left: 5px;
	color: gray;
}
.formKey {
	text-align: right;
	padding-right: 15px;
}
.formValue {
	text-align: left;
}
#sellTable input[type="checkbox"] {
	width: 10px;
	margin: 0px 10px;
}
#optionCheckbox {
	padding: auto;
}
#optionCheckbox label {
	display: inline-block;
	width: 120px;
	height: 35px;
}
#explanation {
	margin-bottom: 20px;
	resize: none;
}
#selectedImg img {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin: 0px 5px;
}
#imgBtnLine {
	text-align: right;
	padding: 10px 75%;
}
#imgBtn {
	border: none;
	width: 100px;
	height: 30px;
	background-color: gray;
	color: white;
}
#buttons {
	padding: 30px 0px;
}
#buttons input {
	margin: 5px 10px;
	border: none;
	display: inline-block;
	width: 110px;
	height: 35px;
	font-size: 18px;
	background-color: black;
	color: white;
}
#buttons #submit {
	background-color: #401C5A;
}
#detailModel {
	width: 261px !important;
	margin-top: 10px;
}
.carType {
	text-align: right;
}
.carTypeCont {
	text-align: left;
}